@font-face {
   font-family: 'YekanWeb';
   src: url("assets/font/Yekan.ttf");
}
body{
   font-family: 'YekanWeb';
}
.asli{
   display: flex; 
   font-size: 20px;
   margin: 10px;
}
.main-nav{
   max-width: 100%;
}
.top-side{
   background-color: dodgerblue;
   height: 30px;
   color: azure;
}
.navbar{
   background-color: coral !important;
}
.carousel{
   width: 80%;
   margin: auto;
}
.post-side{
   float: right;
   width: 768px;
   height: 500px;
   background: #fdfdfd;
   margin-top: 40px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
}
.post{
   border: 2px solid #cccc;
   padding: 5px 5px 40px 5px;
}
.img-post{
   width: 725px;
   height: 300px;
}
.main-content{
   padding: 20px;
}
.sidebar{
   float: left;
   width: 421px;
   height: 500px;
   background: #fdfdfd;
   margin-top: 40px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
}
